<section class="content login-content" style="padding-top: 10%;">
    <div class="login-logo">
        <b>MEAT</b> | Login
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body login-box">
        <p class="login-box-msg">Por favor, efetue o login para continuar</p>

        <form [formGroup]="loginForm">
            <mt-input-container [showTip]="false">
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </mt-input-container>

            <mt-input-container [showTip]="false">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </mt-input-container>

            <div class="row">
                <!-- /.col -->
                <div class="col-4 ml-auto">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</section>